<!DOCTYPE html>

<html>

<head>
    <title>404 Page</title>
    <link rel="icon" href="./css/cloudy.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{notfoundMessage}}
    </div>
    
    {{>footer}}
</body>

</html>