<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./css/cloudy.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="about-me">I am Muhammad Anas Khalid, a Frontend and Backend Developer working in JavaScript, Express, React.js, Node.js, MongoDB, Jest, Socket.io and many more!</p>
    </div>
    
    {{>footer}}
</body>

</html>