<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="./css/cloudy.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use the search form and search your location. And see your weather!</p>
    </div>
    
    {{>footer}}
</body>

</html>